<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="../../../public/img/weather.png">
    <title>{{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class='portrait'
            src='https://lh3.googleusercontent.com/IauOBREvYKm4qMiVfN749X3B3JUC8C00WkR5pvTRrIEyn3dgfr4fE5iDMGrtF8YkP1lKxLosXqh2xz4MGe4hzlJ0UopuS_NXYG6Fw9TJOC-5RlN_c5mvF-EoDlnzH1kinV0zmQIPZJEGzS9_jb4dZyS1wkl8kmp2RnCR6cJ_Uv81ZVgxr2wQRGytykkRmdUddP47lBL0Sq5E4kT-dIK4AdhJEYQpnNpyB3X-cO18iI3rpp_dO3Qc8yxMLUkZdRyz7dCOYMO1yFjSV-rVqKkasDURskPEeIgYOtUQlAgTvLH52UXCcsSxl4bhF6l_26OiA1OjK4b4TvYgFzdWUc51fd6AT7K1vXxIdpi-PzPG1znbVM-hgT9Xz3j1Otw23eRt5vexpRgVYMFWRXcaWnznAIQhYTvNFnn-0-uL3KpyNYTy0eAXM4WOJc2v6WwWdMlWkPJE519dwKTJY6Xy1BUJ8TRF6FnaxYtWhsZcXfFQwuvnDteuC-7md-bbbmfgMMVg8mJszAh3a2DR0btrh4QPkJiVOEsF_EKRPJFeiziQDuTW9Tyy8F_PWPOF6UXhEp_vcmbNUKM158G7A0Sf23NcDH3ZLy49m0r3NthYtarSgCPN_GSqydn8BQ6e79mx68ixaWP3ZKAx3FtmC8baFyEjb-gYTy_Xim3GHMqLLMgyJmygfs8h0VWlvrU=w600-h802-no'
            alt="" />
        <h2 style="font-size: 30px;">Word from the creator:</h2>
        <p style="font-size: 18px;">Hey, it's me. Just wanted to say hello to all of you. Weather keeps changing,
            sometimes clear sometimes
            harsh. What is impotant is you keep moving forward. Cheers!!</p>
<hr>
            <p>This service is powered by <a style="color: grey" href="https://darksky.net/">darksky.net</a> and <a style="color: grey" href="https://www.mapbox.com/">mapbox.com</a></p>
        <p class='about'> WeatherWosh -v@1.0.0</p>
    </div>




    {{>footer}}
</body>

</html>